---
import { type CollectionEntry } from 'astro:content';
import _ from 'lodash';
import Link from '../Link.astro';
import Collection from '../Collection.astro';

interface Props {
  entry: CollectionEntry<'Volunteering'>;
}

const { entry } = Astro.props;
---

<Collection {entry}>
  <div slot="left">
    <span>{entry.data.from} – {entry.data.to}</span>
  </div>

  <div slot="right">
    <h3 class="text-foreground font-medium">
      <span>{entry.data.title}</span>
      <Link
        {entry}
        separator="at"
        field="institution"
      />
    </h3>
  </div>
</Collection>
