---
import { type CollectionEntry } from 'astro:content';
import _ from 'lodash';
import Link from '../Link.astro';
import Grid from '../Grid.astro';

interface Props {
  entry: CollectionEntry<'WorkExperience'>;
}

const { entry } = Astro.props;
---

<Grid {entry}>
  <span slot="left">{entry.data.from} – {entry.data.to}</span>

  <div slot="right">
    <h3 class="text-foreground font-medium">
      <span>{entry.data.title}</span>
      <Link
        {entry}
        field="client"
        separator="at"
      />
    </h3>
    {entry.data?.location && <p>{entry.data?.location}</p>}
  </div>
</Grid>
