---
import { Image } from "@astrojs/image/components";
import { getCollection } from "astro:content";

let projects = await getCollection("projects", ({ data }) => !data.draft);
projects.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));
---

<div class="mt-24 px-6 md:px-15">
  <h3 class="font-display font-medium text-white text-18 leading-tight">
    Projects
  </h3>
</div>
<div>
  {
    projects.map(({ data }) => (
      <article class="mt-6">
        <a
          class="p-6 md:px-15 rounded-4xl grid md:grid-cols-2 md:gap-6 items-center"
          style={`background: ${data.color}`}
          href={data.url}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Image
            class="h-full rounded-xl object-cover"
            src={data.image.src}
            alt={data.image?.alt ?? ""}
            format="webp"
            width={624}
            height={351}
          />
          <div class="my-6 md:my-9 text-black">
            <h4 class="font-display font-medium text-18 leading-tight">
              {data.title}
            </h4>
            <p class="mt-3 leading-relaxed">{data.description}</p>
          </div>
        </a>
      </article>
    ))
  }
</div>
