---
import { getCollection, render } from 'astro:content';
import { getComponents } from '@scripts/getComponents';
import PageLayout from '@layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import { formatDatetime } from '@scripts/formatDatetime';

export async function getStaticPaths() {
  const staticPaths = [];

  let collection = await getCollection('pages');

  if (import.meta.env.PROD) {
    collection = collection.filter((entry) => entry.data?.status !== 'Draft');
  }

  for (const entry of collection) {
    staticPaths.push({
      params: { page: entry.id === 'index' ? undefined : entry.id },
      props: { entry },
    });
  }

  return staticPaths;
}

const { entry } = Astro.props;

const { Content } = await render(entry);

const components = getComponents();
---

<PageLayout metadata={entry.data}>
  <main class="my-[6em] w-full">
    <header
      class="prosa mb-[0.75em] has-[img,p]:mb-[1.5em]"
      style="view-transition-name: page-header;"
    >
      {
        entry.data.image && (
          <Image
            src={entry.data.image}
            alt=""
            width={864}
            height={486}
            format="avif"
          />
        )
      }
      <h1>
        {entry.data.status && <span class="text-accent">{entry.data.status}:</span>}
        <span>{entry.data.title}</span>
      </h1>
      {entry.data.description && <p>{entry.data.description}</p>}
      {
        entry.data.date && (
          <>
            <p>
              <small>
                <time>{formatDatetime(entry.data.date)}</time>
              </small>
            </p>
            <hr />
          </>
        )
      }
    </header>
    <article
      class="prosa"
      style="view-transition-name: page-section;"
    >
      <Content {components} />
    </article>
  </main>
</PageLayout>

<script>
  import { toggleDetails } from '@scripts/toggleDetails';
  import { externalizeLinks } from '@scripts/externalizeLinks';

  toggleDetails();
  externalizeLinks();
</script>
