---
import { getCollection, render } from 'astro:content';
import { getComponents } from '@scripts/getComponents';
import PageLayout from '@layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import { formatDatetime } from '@scripts/formatDatetime';

export async function getStaticPaths() {
  const staticPaths = [];

  let collection = await getCollection('pages');

  if (import.meta.env.PROD) {
    collection = collection.filter((entry) => !['Draft'].includes(entry.data?.status ?? ''));
  }

  for (const entry of collection) {
    staticPaths.push({
      params: { page: entry.id === 'index' ? undefined : entry.id },
      props: { entry },
    });
  }

  return staticPaths;
}

const { entry } = Astro.props;

const { Content } = await render(entry);

const components = getComponents();
---

<PageLayout metadata={entry.data}>
  <main
    class="page"
    data-pagefind-body
  >
    <header class="page-header prosa">
      {
        entry.data.image && (
          <Image
            src={entry.data.image}
            alt=""
            width={864}
            height={486}
            format="avif"
          />
        )
      }
      <h1>
        {entry.data.status && <span class="page-status">{entry.data.status}:</span>}
        <span>{entry.data.title}</span>
      </h1>
      {entry.data.description && <p>{entry.data.description}</p>}
      {
        entry.data.date && (
          <>
            <p>
              <small>
                <time>{formatDatetime(entry.data.date)}</time>
              </small>
            </p>
          </>
        )
      }
    </header>
    <div class="page-article prosa">
      <Content {components} />
    </div>
  </main>
</PageLayout>

<script>
  import { toggleDetails } from '@scripts/toggleDetails';
  import { externalizeLinks } from '@scripts/externalizeLinks';

  toggleDetails();
  externalizeLinks();
</script>

<style>
  .page {
    margin-block: 6em;
    width: 100%;
  }

  .page-header {
    margin-bottom: 0.75em;
    view-transition-name: page-header;

    &:has(img, p, time) {
      margin-bottom: 3em;
      border-bottom: 0.5px solid var(--color-border);
      padding-bottom: 3rem;
    }
  }

  .page-status {
    color: var(--color-accent);
  }

  .page-article {
    view-transition-name: page-article;
  }
</style>
