---
import Default from '../layouts/default.astro';
import { getCollection } from 'astro:content';
import { render } from 'astro:content';
import type { Metadata } from '../types';
import { useComponents } from '../composables';
import { getEntry } from 'astro:content';
import { Image } from 'astro:assets';
import Draft from '../components/astro/draft.astro';
import { collections } from 'src/content.config';
import type { CollectionKey } from 'astro:content';

export async function getStaticPaths() {
  return (
    await Promise.all(
      Object.keys(collections).map(async (collectionKey) => {
        let collection = await getCollection(collectionKey as CollectionKey);

        if (import.meta.env.PROD) {
          collection = collection.filter((entry) => !entry.data?.draft);
        }

        collection = collection.filter((entry) => entry.id !== 'index');

        return collection.map((entry) => ({
          params: { page: entry.id },
          props: { collection: collectionKey, id: entry.id },
        }));
      }),
    )
  ).flat();
}

const { collection, id } = Astro.props;

const entry = await getEntry(collection as CollectionKey, id)!;
const { Content } = await render(entry);

const components = useComponents();
---

<Default metadata={entry.data as Metadata}>
  <main
    class="prose prose-sm prose-theme !max-w-none"
    style="view-transition-name: main"
  >
    {
      collection === 'blog' && (
        <>
          <header class="not-prose">
            {entry.data?.draft && <Draft />}
            <h1 class="text-foreground font-headings truncate font-medium">{entry.data.title}</h1>
            <p>{entry.data?.description}</p>
            {entry.data?.date && (
              <time
                class="text-right"
                datetime={entry.data.date.toISOString()}
              >
                {entry.data.date.toLocaleDateString(undefined, { dateStyle: 'long' })}
              </time>
            )}
            {entry.data.image && (
              <Image
                class="rounded-inner mt-4"
                src={entry.data.image}
                alt=""
                width={1152}
                height={648}
                format="avif"
                loading="eager"
              />
            )}
          </header>
          <hr class="my-10" />
        </>
      )
    }
    <Content {components} />
  </main>
</Default>
