---
import Default from '../layouts/default.astro';
import type { Metadata } from '../types';
import { defaultMetadata } from '../constants';
import Category from '../components/astro/category.astro';
import Entry from '../components/astro/entry.astro';
import { getCollection } from 'astro:content';

// Logos
import Hannover from '../assets/logos/hannover.svg';
import Continental from '../assets/logos/continental.svg';
import Sparkasse from '../assets/logos/sparkasse.svg';
import LBS from '../assets/logos/lbs.svg';

const collection = await getCollection('cv');

const entriesByCategory = collection.reduce(
  (acc, entry) => {
    const category = entry.data.category;
    if (!acc[category]) {
      acc[category] = [];
    }
    acc[category].push(entry);
    return acc;
  },
  {} as Record<string, typeof collection>,
);

Object.keys(entriesByCategory).forEach((category) => {
  entriesByCategory[category].sort((a, b) => {
    return new Date(b.data.date[0]).getTime() - new Date(a.data.date[0]).getTime();
  });
});

const categoryOrder = ['Experience', 'Awards', 'Projects', 'Speaking', 'Education'];
const orderedEntriesByCategory = Object.fromEntries(categoryOrder.map((cat) => [cat, entriesByCategory[cat]]));

const metadata: Metadata = {
  schema: {
    '@context': 'https://schema.org',
    '@type': 'ProfilePage',
    dateCreated: new Date().toISOString(),
    dateModified: new Date().toISOString(),
    mainEntity: {
      '@type': 'Person',
      name: defaultMetadata.title,
      alternateName: 'jairusjoer',
      identifier: 'jairusjoer',
      description: defaultMetadata.description,
      image: 'https://jairusjoer.com/avatar.jpeg',
      sameAs: [
        'https://aggregata.de/authors/jairusjoer/',
        'https://github.com/jairusjoer',
        'https://www.linkedin.com/in/jairusjoer/',
      ],
    },
  },
};

const formatDate = (dates: string[]) => {
  return dates
    .map((date: string) => {
      if (date === 'Present') return date;

      return new Date(date).toLocaleString('en', { year: 'numeric', month: 'short' });
    })
    .join(' — ');
};
---

<Default {metadata}>
  <main class="grow">
    <Category title="About">
      <div class="prose prose-sm prose-theme">
        <p>
          As a full-stack developer and design system consultant based in Germany, I specialize in creating
          interdisciplinary solutions that drive measurable business impact for tens of thousands of users across
          diverse digital platforms and environments.
        </p>
        <p>
          My decade-long tenure spanning HERO Software, neuwaerts, and XVI CHAPEL has focused on transforming platforms
          through strategic technical leadership, seamlessly bridging advanced engineering capabilities with tangible
          business outcomes.
        </p>
        <p>
          Currently driving platform modernization initiatives at HERO Software while mentoring talented colleagues and
          championing cutting-edge technologies. My contributions to Aggregata have cultivated a thriving readership of
          9,000+ monthly users.
        </p>

        <div>
          <small>I had the privilege of working with these companies in various roles:</small>
          <div class="not-prose mt-4 flex flex-wrap items-center gap-x-10 gap-y-5 [&>*]:w-auto">
            <Sparkasse class="h-7.5" />
            <Continental class="h-5" />
            <Hannover class="h-7.5" />
            <LBS class="h-5" />
          </div>
        </div>
      </div>
    </Category>
    {
      Object.keys(orderedEntriesByCategory).map((category) => (
        <Category title={category}>
          {orderedEntriesByCategory[category]?.map((entry) =>
            entry.rendered?.html.trim() ? (
              <Entry
                id={entry.id}
                content={{
                  title: entry.data.title,
                  subtitle: entry.data.subtitle,
                  meta: formatDate(entry.data.date),
                }}
              >
                <Fragment set:html={entry.rendered?.html} />
              </Entry>
            ) : (
              <Entry
                id={entry.id}
                content={{
                  title: entry.data.title,
                  subtitle: entry.data.subtitle,
                  meta: formatDate(entry.data.date),
                }}
              />
            ),
          )}
        </Category>
      ))
    }
  </main>
</Default>
