---
import { Image } from 'astro:assets';
import { render, type CollectionEntry } from 'astro:content';

interface Props {
  entry: CollectionEntry<'pages' | 'blog'>;
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

{
  entry && (
    <article class="group relative">
      <div class="border-background flex overflow-hidden rounded-lg border">
        <div class="relative hidden w-32 shrink-0 sm:block">
          {entry.data?.image ? (
            <Image
              class="absolute inset-0 size-full object-cover"
              src={entry.data.image}
              alt=""
              width={256}
              height={144}
              format="avif"
            />
          ) : (
            <div class="pointer-events-none h-18.5 p-2 select-none">
              <div class="space-y-2 font-mono text-[0.5rem] leading-4 italic">
                <Content />
              </div>
            </div>
          )}
        </div>
        <div class="bg-background grid grow content-center p-4">
          <h2 class="text-foreground truncate font-medium">{entry.data.title}</h2>
          {entry.data?.description && <p class="truncate">{entry.data.description}</p>}
        </div>
      </div>
      <a
        class="absolute inset-0 rounded-lg border-0"
        href={`/${entry.collection}/${entry.id}`}
        title={entry.data.title}
        aria-label={entry.data.title}
      />
    </article>
  )
}

<style>
  article :global(p:first-child img) {
    height: 5rem;
    object-fit: cover;
    min-width: calc(100% + 1rem);
    margin: -0.5rem;
  }

  article :global(p:not(:first-child) img) {
    border-radius: 0.25rem;
  }
</style>
