---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const books = (await getCollection('books')).sort((a, b) => {
  const dateA = new Date(a.data.date).getTime();
  const dateB = new Date(b.data.date).getTime();

  return dateB - dateA;
});
---

<div class="not-prose mt-3">
  <ul class="space-y-3">
    {
      books.map(({ data: book }) => (
        <li class="group flex gap-3">
          {book?.cover && (
            <Image
              class="h-12 w-8 shrink-0"
              src={book.cover}
              alt={book.id}
              height={144}
            />
          )}
          <div>
            <strong class="text-foreground">{book.id}</strong>
            <br />
            <small>
              {book.status} &bull; {book.author}
            </small>
          </div>
        </li>
      ))
    }
  </ul>
</div>
