---
import { Image } from 'astro:assets';
import type { CollectionEntry, CollectionKey } from 'astro:content';
import _ from 'lodash';
import { useReadTime } from '../composables/useReadTime';
import { parse } from 'marked';

interface Props {
  entry: CollectionEntry<Exclude<CollectionKey, 'General'>>;
}

const { entry } = Astro.props;
---

<article class="group relative">
  <div class="border-background flex overflow-hidden rounded-lg border">
    {
      'image' in entry.data ? (
        <Image
          class="aspect-video"
          src={entry.data.image!}
          alt=""
          width={160}
          height={90}
        />
      ) : (
        <div class="shrink-0 h-22.5 w-40 p-2 select-none">
          <div
            class="space-y-2 rounded font-mono text-[0.5rem] leading-4 italic"
            set:html={_.truncate(await parse(entry.body!), { length: 150 })}
          />
        </div>
      )
    }
    <!-- Content -->
    <div class="bg-background grid grow content-center p-4">
      <h2 class="text-foreground truncate">{entry.data.title}</h2>
      {entry?.body && <p>{useReadTime(entry.body)}</p>}
    </div>
  </div>
  <a
    class="absolute inset-0 rounded-lg"
    href={`/${_.kebabCase(entry.collection)}/${entry.id}`}
    title={entry.data.title}
    aria-label={entry.data.title}
  ></a>
</article>
