---
import { getImage } from 'astro:assets';
import type { Metadata } from '../types';
import type { Entry } from '@keystatic/core/reader';
import type keystaticConfig from '../../keystatic.config';

interface Props {
  metadata: Metadata;
  settings: Entry<(typeof keystaticConfig)['singletons']['Settings']>;
}

const { metadata, settings } = Astro.props;

const site = import.meta.env.DEV ? Astro.url.origin : Astro.site;
const useURL = (path: string) => String(new URL(path, site));

const favicon = await getImage({
  src: settings?.favicon || '/favicon_default.png',
  width: 192,
  height: 192,
  format: 'png',
});

const title = metadata?.title ? [metadata.title, settings?.title].join(' • ') : settings?.title;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width"
/>

<meta
  name="generator"
  content={Astro.generator}
/>

<!-- Favicons -->
<link
  rel="icon"
  href={useURL(favicon.src)}
/>
<link
  rel="apple-touch-icon"
  href={useURL(favicon.src)}
/>

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta
  name="title"
  content={title}
/>
<meta
  name="description"
  content={metadata.description}
/>

<!-- Open Graph / Facebook -->
<meta
  property="og:type"
  content="website"
/>
<meta
  property="og:url"
  content={useURL(Astro.url.pathname)}
/>
<meta
  property="og:title"
  content={title}
/>
<meta
  property="og:description"
  content={metadata.description}
/>
<meta
  property="og:image"
  content={metadata.image}
/>

<!-- Twitter -->
<meta
  property="twitter:card"
  content="summary_large_image"
/>
<meta
  property="twitter:url"
  content={useURL(Astro.url.pathname)}
/>
<meta
  property="twitter:title"
  content={title}
/>
<meta
  property="twitter:description"
  content={metadata.description}
/>
<meta
  property="twitter:image"
  content={metadata.image}
/>

{
  metadata?.schema && (
    <script
      is:inline
      set:html={JSON.stringify(metadata.schema)}
      type="application/ld+json"
    />
  )
}

<slot />
