---
import { formatDatetime } from '@scripts/formatDatetime';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import PageStatus from './PageStatus.astro';

export interface Props {
  entry: CollectionEntry<'pages'>;
}

const { entry } = Astro.props;
---

<header
  class="mb-[1.5em] grid justify-items-start has-[p,time,img]:mb-[3em] has-[p,time,img]:border-b has-[p,time,img]:pb-[3em]"
  style="view-transition-name: page-header;"
>
  <PageStatus {entry} />
  {
    entry.data.image && (
      <Image
        class="mb-[1.5em]"
        src={entry.data.image}
        alt=""
        width={864}
        height={486}
        format="avif"
      />
    )
  }
  <h1 class="text-foreground font-semibold">
    {entry.data.title}
  </h1>
  {entry.data.description && <p>{entry.data.description}</p>}
  {entry.data.date && <time class="tabular-nums">{formatDatetime(entry.data.date)}</time>}
</header>
