---
import PageContents from '@components/PageContents.astro';
import { formatDatetime } from '@scripts/formatDatetime';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

export interface Props {
  entry: CollectionEntry<'pages'>;
}

const { entry } = Astro.props;

const hasExtras = entry.data.image || entry.data.description || entry.data.date;
const isWriting = entry.id.startsWith('writing/');
---

<header class="space-y-6">
  {
    entry.data.image && (
      <Image
        src={entry.data.image}
        alt=""
        width={864}
        height={486}
      />
    )
  }
  <h1>
    {entry.data.status && <span class="text-accent">{entry.data.status}: </span>}
    {entry.data.title}
  </h1>

  {entry.data.description && <p>{entry.data.description}</p>}

  {
    entry.data.date && (
      <small class="block">
        <time>{formatDatetime(entry.data.date)}</time>
      </small>
    )
  }
  {isWriting && <PageContents {entry} />}
  {hasExtras && <hr />}
</header>
