---
import { getImage } from 'astro:assets';
import { site } from '../config';

export interface Metadata {
  title: string;
  id?: string;
  description?: string;
  image?: string;
  schema?: Record<string, unknown>;
  status?: string;
}

export interface Props {
  metadata: Metadata;
}

const { metadata } = Astro.props;

const titleTemplate = `${metadata.title} • ${site.title}`;

const getURL = (path: string) => String(new URL(path, Astro.site));

const pageImage = getURL(metadata.image ?? `og/${metadata.id ?? 'index'}.png`);
---

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, viewport-fit=cover"
/>

<meta
  name="generator"
  content={Astro.generator}
/>

<link
  rel="sitemap"
  href="/sitemap-index.xml"
/>

<link
  rel="alternate"
  type="application/rss+xml"
  title={site.title}
  href={new URL('rss.xml', Astro.site)}
/>

{
  site?.image && (
    <>
      <link
        rel="icon"
        href={(await getImage({ src: site.image, width: 48, height: 48, format: 'png' })).src}
        sizes="48x48"
      />
      <link
        rel="apple-touch-icon"
        href={(await getImage({ src: site.image, width: 180, height: 180, format: 'png' })).src}
      />
    </>
  )
}

{/* Title */}
<title>{titleTemplate}</title>
<meta
  name="title"
  content={titleTemplate}
/>
<meta
  property="og:title"
  content={titleTemplate}
/>
<meta
  property="twitter:title"
  content={titleTemplate}
/>

{/* Description */}
{
  metadata.description && (
    <>
      <meta
        name="description"
        content={metadata.description}
      />
      <meta
        property="og:description"
        content={metadata.description}
      />
      <meta
        property="twitter:description"
        content={metadata.description}
      />
    </>
  )
}

{/* Image */}

<meta
  property="og:image"
  content={pageImage}
/>
<meta
  property="twitter:image"
  content={pageImage}
/>

{/* URL */}
<meta
  property="og:url"
  content={getURL(Astro.url.pathname)}
/>
<meta
  property="twitter:url"
  content={getURL(Astro.url.pathname)}
/>

{/* Platform */}
{
  metadata.status === 'Unpublished' && (
    <meta
      name="robots"
      content="noindex"
    />
  )
}

<meta
  property="og:type"
  content="website"
/>
<meta
  property="twitter:card"
  content="summary_large_image"
/>

{
  metadata?.schema && (
    <script
      is:inline
      set:html={JSON.stringify(metadata.schema)}
      type="application/ld+json"
    />
  )
}

<slot />
